/Build/Debug
/Build/Release
/Beatmap Mirror/obj/Release

/Beatmap Mirror/obj/Debug/TempPE
/Beatmap Mirror/obj/Debug

/Beatmap Mirror/bin/Debug
/Beatmap Mirror/Beatmap Mirror.csproj.user
/Beatmap Mirror.v11.suo
/Beatmap Mirror WPF/obj/Debug/Resources
/Beatmap Mirror WPF/bin/Debug
/Beatmap Mirror WPF/obj/Debug
